@model IEnumerable<Project_63132204.Models.NhanVien>

@{
    ViewBag.Title = "DANH SÁCH NHÂN VIÊN";
    Layout = "~/Views/Shared/_LayoutNV.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "TenNV", rowsPerPage: 10);
}

<html>

<body>
    <h2>DANH SÁCH NHÂN VIÊN</h2>
    
    <div id="gridContent">
        @ViewBag.TB
        @grid.GetHtml(
            tableStyle: "table table-bordered table-hover",
            footerStyle: "grid-footer",
            fillEmptyRows: true,
            mode: WebGridPagerModes.Numeric,
            alternatingRowStyle: "alternatingRowStyle",
              columns: new[]  // colums in grid
             {
             grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
            grid.Column("MaNV","Mã nhân viên"), //the model fields to display
            grid.Column("HoNV","Họ nhân viên"  ),
            grid.Column("TenNV","Tên nhân viên"),
            grid.Column("NgaySinh","Ngày sinh",format:@<text> @item.NgaySinh.ToString("dd/MM/yyyy")</text>),
            grid.Column("GioiTinh","Giới tính"),
            grid.Column("SDT","Số điện thoại"),
            grid.Column("DiaChi","Địa chỉ"),
            grid.Column(format: (item) => Html.ActionLink("Xem chi tiết", "Details","NhanViensAdmin63132204", new { id = item.MaNV },"NhanViensAdmin63132204Controller")),
            }
            )
    </div>
</body>
</html>