@model IEnumerable<Project_63132204.Models.HoaDonDichVu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNV.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "MaHDDV", rowsPerPage: 10);
}
<h2>DANH SÁCH ĐƠN HÀNG DỊCH VỤ</h2>

<div id="gridContent">
    @ViewBag.TB
    @grid.GetHtml(
        tableStyle: "table table-bordered table-hover",
        footerStyle: "grid-footer",
        fillEmptyRows: true,
        mode: WebGridPagerModes.Numeric,
        alternatingRowStyle: "alternatingRowStyle",
          columns: new[]  // colums in grid
         {
     grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
    grid.Column("MaHDDV","Mã đặt hàng"), //the model fields to display
    grid.Column("Phong.TenPhong","Tên Phòng"),
    grid.Column("KhachHang.TenKH","Tên Khách hàng"),
    grid.Column("SoLuong","Số Lượng"),
    grid.Column("NgayDat","Ngày đặt",format:@<text> @item.NgayDat.ToString("dd/MM/yyyy")</text>),
    grid.Column(format: (item) => Html.ActionLink("Xem chi tiết", "Details","HoaDonDichVusAdmin63132204", new { id = item.MaHDDV },"HoaDonDichVusAdmin63132204Controller")),
          }
)
</div>
