﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutKH.cshtml";
}

<main>
    <div id="showcase">
        <div class="container">
            <div class="showcase-content">
                <h1><span class="text-primary">Enjoy</span> Your Stay</h1>

            </div>
        </div>
    </div>

    <section id="home-info" class="bg-dark">
        <img class="info-img" src="../images/imginfo.jpg" width="50%" height="400px" />
        <div class="info-content">
            <h2><span class="text-primary">The Information</span> Of Out Hotel</h2>
            <p>Khách sạn Luxury, nơi nghĩ dưỡng lí tưởng và thân thiện, Khách sạn Luxury với 111 phòng ngủ sang trọng, hiện đại theo tiêu chuẩn quốc tế sẽ mang đến cho quý khách những trãi nghiệm tuyệt vời về thành phố của thiên đường du lịch.</p>
        </div>
    </section>

    <section id="features">
        <div class="box bg-light">
            <img class="icon" src="../images/hotel.png" />
            <h3>Great Location</h3>
            <p>Là một trong những vùng biển được đánh giá là đẹp nhất cả nước. Ngày càng thu hút khách du lịch trong và ngoài nước.</p>
        </div>
        <div class="box bg-primary">
            <img class="icon" src="../images/meal.png" />
            <h3>Free Meals</h3>
            <p>Là một trong những vùng biển được đánh giá là đẹp nhất cả nước. Ngày càng thu hút khách du lịch trong và ngoài nước.</p>
        </div>
        <div class="box bg-light">
            <img class="icon" src="../images/fit.png" />
            <h3>Fitness Room</h3>
            <p>Là một trong những vùng biển được đánh giá là đẹp nhất cả nước. Ngày càng thu hút khách du lịch trong và ngoài nước.</p>
        </div>
    </section>
</main>